fastapi
uvicorn
python-dotenv
zhipuai
langchain-core
python-multipart
pydantic
pypdf
langchain-community
sniffio
python-docx
chromadb
ddgs
pytz
passlib[bcrypt]
bcrypt==4.0.1
python-jose[cryptography]
aiosmtplib
